<div class="card">
  <div class="card-body">
    
  <p> l'utilisateur est connecté avec cette addresse: </p>
    <p>email:<%= current_user.email%></p></br>
    <p> <U>Description:</U> </p>
    
  </div>
</div>