body{
    background-image: url('hanabi.jpg');
    background-position: center;
    background-size: cover;
 }

 .bg-cover {
   background-attachment: static;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}